<%- include("include/header"); %>
<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="myPage">
      <div class="infoBox">
        <span class="label">ID</span>
        <div><%= userInfo.userID %></div>
      </div>
      <div class="infoBox">
        <span class="label">Name</span>
        <div><%= userInfo.userName %></div>
      </div>
      <div class="infoBox">
        <span class="label">Email</span>
        <div><%= userInfo.userEmail %></div>
      </div>
      <div class="infoBox">
        <span class="label">ZipCode</span>
        <div><%= userInfo.zipCode %></div>
      </div>
      <div class="infoBox">
        <span class="label">Address</span>
        <div><%= userInfo.userAddress %></div>
      </div>
      <div class="infoBox">
        <span class="label">Job</span>
        <div><%= userInfo.userJob %></div>
      </div>
    </div>
    <div class="btns">
      <a href="/modify">회원정보수정</a>
      <a href="/delete">회원탈퇴</a>
      // pass입력하는 곳으로 이동한다. // 패스워드입력하고 버튼 누르면 패스워드 맞으면 회원 탈퇴 // 아니면 다시 패스워드 입력
      <a href="/">메인</a>
    </div>
  </div>
</main>
<%- include("include/footer"); %>
